:root {
    --main-color: #454168;
    --active-color: #0096FF;
    --border-color: #E4E8F4;
    --white-color: #FFFFFF;
    --dark-white-color: #F8F9FC;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--main-color);
    background-color: var(--dark-white-color);
    position: relative;
}
a {
    transition: all 300ms;
    color: var(--main-color);
    text-decoration: none;
}
a:hover {
    color: var(--active-color);
    text-decoration: none;
}
button {
    transition: all 300ms;
}
.pr-btn-primary {
    background-color: var(--active-color);
    border-radius: 8px;
    color: var(--white-color);
    font-weight: 500;
    padding: 6px 24px;
}
/* Breadcrumb */
.breadcrumb-item+.breadcrumb-item::before {
    content: none;
}
.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.pr-breadcrumb a svg {
    margin-left: 8px;
}
.pr-breadcrumb a,
.breadcrumb .active {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.pr-breadcrumb a {
    color: #74708E;
}
.breadcrumb .active {
    color: #171142;
}
.pr-breadcrumb a:hover {
    color: var(--active-color);
}
/* Navbar */
.pr-navbar-phone {
    font-size: 14px;
    font-weight: 400;
}
.pr-navbar-phone svg {
    margin-right: 8px;
}
.pr-navbar-phone:hover svg path {
    fill: var(--active-color)
}
.pr-lang-dropdown .btn {
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 0;
}
.pr-lang-dropdown .btn svg {
    margin-left: 8px;
}
.pr-lang-dropdown .btn img {
    height: 20px;
    margin-right: 8px;
}
.pr-lang-dropdown .dropdown-menu {
    min-width: 168px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
.pr-lang-dropdown .dropdown-menu .dropdown-item {
    font-weight: 500;
    font-size: 14px;
    padding: 8px 24px;
}
.pr-lang-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #F3F3F6;
    color: var(--main-color);
}
.pr-lang-dropdown .dropdown-menu .active  {
    color: var(--active-color);
    background-color: inherit;
}
.pr-lang-dropdown .dropdown-menu .dropdown-item img {
    margin-right: 8px;
    height: 24px;
}
.pr-main-navbar {
    background-color: var(--white-color);
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.pr-main-navbar-links .navbar-nav {
    flex-direction: row;
}
.pr-main-navbar-links .nav-item {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.pr-main-navbar-links .nav-item:first-child {
    margin-left: 0;
}
.pr-main-navbar-links .nav-item a {
    padding: 0;
}
.pr-main-navbar-links .nav-item:last-child a svg {
    margin-right: 8px;
}
.pr-main-navbar-links .nav-item a:hover svg path {
    stroke: var(--active-color);
}
.pr-main-navbar-links .nav-item a:hover {
    color: var(--active-color);
}
.pr-main-navbar-links .pr-btn-primary svg {
    margin-right: 8px;
}
/* Secondary navbar */
.pr-secondary-navbar {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    padding: 12px 0;
    margin-bottom: 24px;
    /* position: sticky; */
    top: 0;
    z-index: 99;
}
.pr-secondary-navbar .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
}
.pr-secondary-navbar .nav-link {
    padding: 8px 12px;
    border-radius: 8px;
}
.pr-secondary-navbar .nav-link:hover {
    background-color: #E5F4FF;
    color: var(--active-color);
}
/* main carousel */
.pr-main-carousel {
    margin-bottom: 76px;
}
.pr-main-carousel .carousel-item {
    position: relative;
    border-radius: 12px;
}
/* .pr-img-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 150, 255, 1) 100%, rgba(0, 150, 255, 0) 0%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
} */
.pr-main-carousel .carousel-item .img-fluid {
    height: 360px;
    object-fit: cover;
}
.pr-main-carousel .carousel-inner {
    border-radius: 12px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    background-color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 32px;
    width: auto;
    height: auto;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}.carousel-control-next {
    justify-content: end;
    right: -1.5%;
    opacity: 1;
}
.carousel-control-prev {
    justify-content: start;
    left: -1.5%;
    opacity: 1;
}
.carousel-indicators {
    bottom: -14%;
}
.carousel-indicators button {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    background-color: #D1CFD9 !important;
}
.carousel-indicators .active {
    background-color: var(--active-color) !important;
}
/* Slider */
.pr-products-slider {
    margin-bottom: 80px;
}
.slick-disabled {
    opacity: .4;
}
.pr-product-wrapper {
    padding: 0.625rem;
    flex: 0 0 16.5%;
    max-width: 16.5%;
}
.pr-product-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 12px;
    /* background-image: url(../img/pr_background.png); */
}
.pr-product-img a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pr-product-img img {
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}
.pr-product-img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.pr-product-title {
    text-align: center;
    height: 45px;
    overflow: hidden;
}
.pr-product-title a {
    color: #171142;
    line-height: 20px;
}
.pr-product-title a:hover {
    color: var(--active-color);
}
.pr-slick-prev {
    position: absolute;
    left: -1.5%;
    z-index: 1;
    top: 40%;
    transform: translateY(-50%);
}
.pr-slick-next {
    position: absolute;
    right: -1.5%;
    top: 40%;
    transform: translateY(-50%);
}
/* Top products */
.pr-top-products {
    margin-bottom: 24px;
}
.pr-section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}
.pr-section-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 0;
}
.pr-more {
    color: var(--active-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 8px;
}
.pr-more svg {
    margin-left: 10px;
}
.pr-more:hover {
    background-color: #E5F4FF;
}
.pr-products-list,
.pr-brends-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}
.pr-products-list .pr-product-item {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: .625rem;
    padding-right: .625rem;
    margin-bottom: 56px;
}
.pr-product-item:hover .pr-product-img img {
    transform: scale(1.05);
    }
.pr-products-list .pr-product-item .pr-product-title {
    color: #171142;
    height: 48px;
    overflow: hidden;
    max-width: 100%;
    text-align: start;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.pr-products-list .pr-product-item .pr-product-title a {
    line-height: 24px;
    font-size: 18px;
}
.pr-product-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #74708E;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 16px;
}
.pr-btn-primary {
    border: 1px solid var(--active-color);
    background-color: var(--active-color);
    color: var(--white-color);
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
}
.pr-btn-primary:hover {
    background-color: #0078CC;
    color: var(--white-color);
}
/* New products */
.pr-section {
    margin-bottom: 80px;
}
.pr-product-item-new {
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: .625rem;
    padding-right: .625rem;
}
.pr-new-products .pr-products-list .pr-product-item {
    margin-bottom: 0;
}
.pr-product-item-new-inner {
    background-color: var(--active-color);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 56px 40px;
}
.pr-product-new-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #D5F4FC;
}
.pr-product-new-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: var(--white-color);
}
.pr-new-sign {
    background-color: #FDEAE9;
    color: #E73127;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 12px;
    padding: 3px 8px;
}
/* Brends section */
.pr-brend-item {
    flex: 0 0 16.6%;
    max-width: 16.6%;
    padding-left: .625rem;
    padding-right: .625rem;
    margin-bottom: 40px;
}
.pr-brend-item:nth-last-child(-n+6) {
    margin-bottom: 0;
}
.pr-brend-img .img-fluid {
    border-radius: 12px;
    margin-bottom: 16px;
    height: 120px;
    width: 100% !important;
    object-fit: cover;
}
.pr-brend-title {
    text-align: center;
}
/* Contact section */
.pr-form-group {
    margin-bottom: 24px;
}
.pr-form-group .form-label {
    font-size: 14px;
    line-height: 20px;
}
.pr-full-right-half {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
}
.pr-contact-row {
    position: relative;
    overflow: hidden;
    height: 672px;
    display: flex;
    align-items: center;
}
.pr-contact-section {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}
.pr-contact-row .pr-section-title {
    margin-bottom: 24px;
}
.pr-contact-inner {
    padding-right: 128px;
}
.pr-contact-inner .form-control {
    border-radius: 8px;
    background-color: #F8F9FC;
    height: 40px;
}
.pr-form-message {
    height: auto !important;
}
.pr-contact-inner label span {
    color: #E73127;
}
.form-control:focus {
    box-shadow: none;
}
.pr-submit-btn {
    background-color: #D1CFD9;
    border-radius: 8px;
    padding: 0.4rem 0.75rem;
    color: var(--white-color);
}
.pr-submit-btn:hover {
    background-color: #A2A0B3;
    color: var(--white-color);
}
/* News section */
.pr-new-info-section {
    margin-bottom: 120px;
}
.pr-new-info-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}
.pr-new-info {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: .625rem;
    padding-right: .625rem;
}
.pr-new-info-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
    height: 244px;
    min-width: 100%;
    border-radius: 12px;
}
.pr-new-info-img a {
    width: 100%;
}
.pr-new-info-img .img-fluid {
    height: 100%;
    object-fit: cover;
}
.pr-new-info-desc {
    height: 56px;
    overflow: hidden;
}
.pr-new-info-desc a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #171142;
}
.pr-new-info-desc a:hover {
    color: var(--active-color);
}
/* Footer */
.pr-footer-top {
    background-color: var(--white-color);
    border-top: 1px solid var(--border-color);
    padding: 60px 0;
}
.pr-footer-logo {
    margin-bottom: 16px;
}
.pr-footer-phone {
    margin-bottom: 12px;
}
.pr-footer-phone a,
.pr-footer-address {
    font-weight: 400;
    font-size: 14px;
    color: var(--main-color);
    max-width: 300px;
}
.pr-footer-phone a:hover {
    color: var(--active-color);
}
.pr-footer-link {
    flex-direction: column;
}
.pr-footer-link a {
    font-size: 14px;
    line-height: 20px;
    color: var(--main-color);
}
.pr-footer-payment {
    flex-direction: column;
}
.pr-footer-payment li {
    width: 100%;
    background-color: #EEEFF4;
    border-radius: 8px;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 12px;
}
.pr-footer-payment li:last-child {
    margin-bottom: 0;
}
.pr-footer-bottom-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6C6C84;
    font-weight: 400;
}
.pr-footer-socials .nav-link {
    padding-left: 16px !important;
    padding-right: 0;
}
.pr-footer-socials .nav-link:hover {
    opacity: 0.7;
}
.pr-footer-link .nav-link:hover {
    color: var(--active-color);
}
/* Modals */
.pr-modals .modal-content {
    border-radius: 12px;
}
.pr-modals .modal-body,
.pr-modals .modal-header {
    padding: 24px;
}
.pr-modals .modal-header .modal-title {
    color: #171142;
}
.pr-forgot-password {
    text-align: end;
    margin-bottom: 24px;
}
.pr-forgot-password a,
.pr-create-account a {
    color: var(--active-color);
}
.pr-modals .pr-btn-primary {
    margin-bottom: 24px;
    padding: 7px 12px;
}
.pr-create-account {
    font-weight: 400;
    text-align: center;
}
.nav-link:focus-visible {
    box-shadow: none;
}
#register .pr-form-label {
    font-weight: 400;
    color: #454168;
    width: 70%;
}
#register .pr-form-label span {
    font-weight: 500;
    color: #171142;
}
.form-control {
    height: 40px;
}
/* Favourites */
.pr-favourites-section {
    margin-bottom: 60px;
}
.pr-page-section .pr-section-title {
    margin-bottom: 40px;
}
.pr-btn-like {
    position: absolute;
    top: 15px;
    right: 15px;
}
.pr-btn-like:hover svg,
.pr-product-item-actions .pr-btn-likes:hover svg {
    fill: #E73127;
}
.pr-btn-like:hover svg path,
.pr-product-item-actions .pr-btn-likes:hover svg path {
    stroke: #E73127;
}
/* News page */
.pr-page-section .pr-new-info {
    margin-bottom: 40px;
}
.pr-new-page-section {
    margin-bottom: 80px;
}
/* Brends */
.pr-brands-nav {
    background-color: var(--white-color);
    border: 1px solid #E8E7EC;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 40px;
    position: sticky;
    top: 70px;
    z-index: 99;
}
.pr-brands-nav .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
}
.pr-brands-nav .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 13px;
    color: var(--main-color);
}
.pr-brands-nav .nav-pills .nav-link:hover {
    background-color: #E5F4FF;
    border-radius: 4px;
    color: var(--active-color);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--active-color);
    background-color: #E5F4FF;
    border-radius: 4px;
}
.pr-brends-first-let {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 12px;
}
.pr-page-section .pr-brends-list {
    margin-bottom: 60px;
}
.pr-brend-page {
    padding-bottom: 60px;
}
.pr-new-info-section-inner {
    max-width: 800px;
    margin: auto;
    margin-bottom: 80px;
}
.pr-new-info-sec-img img {
    height: 500px;
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}
.pr-new-info-sec-img {
    margin-bottom: 24px;
}
.pr-new-info-date {
    font-weight: 400;
    color: #74708E;
    margin-bottom: 8px;
}
.pr-new-info-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #171142;
    margin-bottom: 24px;
}
.pr-new-info-paragraph {
    font-weight: 400;
    color: #454168;
    margin-bottom: 24px;
}
.pr-new-info-paragraph:last-child {
    margin-bottom: 0;
}
.pr-vacancy-wrapper {
    max-width: 800px;
    margin: auto;
    margin-bottom: 120px;
}
.pr-vacancy-wrapper .pr-section-title {
    margin-bottom: 40px;
}
/* Vacancy */
.pr-vacancy-item {
    border: 1px solid #E8E7EC;
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px;
}
.pr-vacancy-item:last-child {
    margin-bottom: 0;
}
.pr-vacancy-info {
    display: flex;
    justify-content: space-between;
}
.pr-vacancy-info .pr-vacancy-title {
    font-size: 20px;
    line-height: 28px;
}
.pr-vacancy-info .pr-vacancy-published,
.pr-vacancy-info .pr-vacancy-place {
    font-weight: 400;
    color: #74708E;
}
.pr-vacancy-department {
    color: #74708E;
}
.pr-vacancy-info:first-child {
    margin-bottom: 16px;
}
.pr-contact-page-section {
    max-width: 800px;
    margin: auto;
}
.pr-contact-region {
    line-height: 28px;
    margin-bottom: 12px;
    color: #171142;
}
.pr-contact-phone {
    margin-bottom: 12px;
}
.pr-contact-phone a,
.pr-contact-full-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #74708E;
}
.pr-contact-phone a:hover {
    color: var(--active-color);
}
.pr-contact-content {
    padding: 56px 40px;
}
.pr-contact-wrapper {
    border: 1px solid #E8E7EC;
    border-radius: 8px;
    background-color: var(--white-color);
    margin-bottom: 24px;
}
.pr-contact-wrapper:last-child {
    margin-bottom: 0;
}
.pr-contact-page-section .pr-section-title {
    margin-bottom: 40px;
}
.pr-main-wrapper {
    margin-bottom: 120px;
}
.pr-inner-vacancy-wrapper {
    max-width: 800px;
    margin: auto;
    margin-bottom: 80px;
}
.pr-inner-vacancy-wrapper .pr-vacancy-published {
    font-weight: 400;
    color: #74708E;
    margin-bottom: 8px;
}
.pr-inner-vacancy-wrapper .pr-vacancy-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #171142;
    margin-bottom: 24px;
}
.pr-inner-vacancy-wrapper .pr-vacancy-text {
    font-weight: 400;
    color: #454168;
    margin-bottom: 40px;
}
.pr-inner-vacancy-wrapper .pr-vacancy-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
    color: #171142;
}
.pr-inner-vacancy-wrapper .pr-vacancy-text-list .pr-vacancy-text {
    margin-bottom: 0;
}
.pr-inner-vacancy-wrapper .pr-vacancy-text-list {
    margin-bottom: 40px;
}
.pr-inner-vacancy-wrapper .pr-vacancy-text:last-child {
    margin-bottom: 0;
}
.pr-request-vacancy-wrapper {
    max-width: 600px;
    margin: auto;
    border: 1px solid #E8E7EC;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--white-color);
}
.pr-request-vacancy-wrapper .pr-contact-inner {
    padding-right: 0;
}
.pr-request-vacancy-wrapper .pr-contact-inner .pr-section-title {
    margin-bottom: 24px;
}
.pr-form-resume {
    display: flex;
    justify-content: space-between;
}
.pr-form-resume .pr-form-resume-desc {
    font-size: 14px;
    line-height: 20px;
    color: #74708E;
}
.pr-resume-loading {
    display: flex;
    align-items: center;
}
.pr-resume-loading .pr-resume-loading-btn {
    color: var(--active-color);
}
.pr-resume-loading .pr-resume-loading-btn:hover {
    background-color: #E5F4FF;
    border-radius: 8px;
    padding: 8px 12px;
}
.pr-form-resume {
    margin-bottom: 24px;
}
.pr-category-modal .modal-content {
    background-color: var(--dark-white-color);
}
.pr-category-modal header {
    margin-bottom: 24px;
}
.pr-category-modal-item .pr-category-modal-title {
    font-weight: 600;
    font-size: 18px;
    color: #171142;
    margin-bottom: 20px;
}
.pr-category-modal-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto
}
.pr-category-modal-list .pr-category-modal-item {
    /* max-height: min-content; */
    margin-bottom: 48px;
    height: -webkit-max-content;
}
.pr-category-modal-item .nav-item a {
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    color: #454168;
}
.pr-category-modal-item .nav-item a:hover {
    color: var(--active-color);
}
.pr-category-modal-item .nav-item {
    margin-bottom: 12px;
}
.pr-category-modal-item .nav-item:last-child {
    margin-bottom: 0;
}
.pr-category-page-wrapper {
    display: flex;
}
.pr-category-page-aside {
    border: 1px solid #E4E8F4;
    border-radius: 8px;
    max-width: 225px;
    padding: 16px;
    background-color: var(--white-color);
    margin-right: 24px;
    height: -webkit-max-content;
}
.pr-category-aside-item-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}
.pr-category-aside-item {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
    padding: 16px 0;
}
.pr-category-aside-item:last-child {
    border-bottom: none;
    padding: 0;
    margin-bottom: 0;
}
.pr-category-aside-item .form-control {
    margin-bottom: 8px;
    background-color: var(--dark-white-color);
}
.pr-category-aside-item .form-check-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #454168;
}
.pr-category-aside-item .form-check {
    margin-bottom: 14px;
}
.pr-category-aside-item .form-check:last-child {
    margin-bottom: 0;
}
.pr-more-category {
    color: var(--active-color);
    font-size: 14px;
    line-height: 20px;
    padding: 0 !important;
}
.pr-more-category svg {
    margin-left: 8px;
}
.pr-more-category:hover {
    color: #0078CC;
}
.pr-category-page-products {
    width: 100%;
}
.pr-category-page-products .nav-item .active svg path {
    stroke: var(--active-color);
}
.pr-category-page-products .nav-item .active {
    border-radius: 8px;
}
.pr-category-page-products .pr-product-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 40px;
}
.pr-product-item-oneline {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 24px;
}
.pr-product-item-oneline:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.pr-product-item-oneline .pr-product-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    height: 142px;
    width: 142px;
    min-width: 142px;
    margin-bottom: 0;
    margin-right: 16px;
}
.pr-product-item-oneline .pr-product-img img {
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}
.pr-product-item-desc {
    font-weight: 400;
    font-size: 14px;
    color: #74708E;
    height: 96px;
    overflow: hidden;
}
.pr-product-item-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pr-product-item-actions .pr-btn-primary {
    width: 226px;
}
.pr-product-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pr-product-item-actions .pr-btn-likes {
    text-align: end;
    padding: 0;
}
.pr-public-offer-wrapper {
    width: 800px;
    margin: auto;
}
.pr-public-offer-wrapper .pr-section-title {
    margin-bottom: 24px;
}
.pr-public-offer-inner {
    margin-bottom: 40px;
}
.pr-public-offer-inner .pr-public-offer-subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.pr-public-offer-text {
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--black-80, #454168);
}
.pr-public-offer-text:last-child {
    margin-bottom: 0;
}
#cart .modal-fullscreen {
    width: 50vw;
    position: absolute;
    right: 0;
}
#cart .modal-content {
    border-radius: 0px;
}
.pr-cart-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin-bottom: 40px;
}
.pr-cart-item:last-child {
    margin-bottom: 0;
}
.pr-cart-item-img img {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 12px;
}
.pr-cart-item-img {
    width: 20%;
    border-radius: 12px;
    border: 1px solid #E4E8F4;
}
.pr-cart-item-content {
    padding-left: 16px;
    width: 80%;
}
.pr-cart-item-title {
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 8px;
    text-align: start;
}
.pr-cart-item-desc {
    height: 48px;
    overflow: hidden;
    color: #74708E;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: start;
}
.pr-cart-item-action {
    display: flex;
    justify-content: space-between;
}
.pr-cart-item-control {
    display: flex;
    align-items: center;
}
.pr-cart-item-control .pr-btn-counter {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #E4E8F4;
    display: flex;
    align-items: center;
}
.pr-cart-item-control .pr-cart-item-quantity {
    margin: 0 20px;
}
.pr-cart-item-action .pr-btn-delete {
    padding: 5px 7px;
    border-radius: 4px;
    border: 1px solid #E4E8F4;
}
.pr-modals .modal-footer {
    padding: 24px;
}
.pr-modals .modal-title span {
    color: #A2A0B3;
    margin-left: 8px;
}
.pr-empty-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.pr-empty-block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pr-empty-img {
    padding: 20px;
    border-radius: 8px;
    background-color: #E5F4FF;
    max-width: fit-content;
    margin-bottom: 24px;
}
.pr-empty-title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}
.pr-main-search .form-control {
    border: none;
    background-color: inherit;
    padding: 0;
    max-height: 32px;
}
.pr-main-search input::placeholder {
    color: #A2A0B3;
}
.pr-main-search {
    border-radius: 8px;
    border: 1px solid #E4E8F4;
    background: #F8F9FC;
    width: 100%;
    min-width: 600px;
    max-width: 650px;
}
.pr-btn-submit {
    padding: 3px 13px;
    background-color: var(--active-color);
    max-height: fit-content;
}
.pr-btn-submit:hover {
    background-color: #0078CC;
}
.pr-main-search form {
    align-items: center;
    padding: 4px 4px 4px 16px;
}
.pr-main-search .pr-list-wrapper {
    display: none;
}
.pr-main-search .pr-list-wrapper {
    margin-top: 8px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E4E8F4;
    background: var(--white-color);
    box-shadow: 0px 4px 20px 0px rgba(112, 117, 167, 0.16);
}
.pr-main-search:focus-within .pr-list-wrapper,
#searchInput:focus + .pr-list-wrapper {
    display: block;
    z-index: 1; 
}
/* .pr-products-list {
    padding: 16px;
} */
.pr-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E8F4;
    padding: 12px 0px;
}
.pr-list-group-brend {
    border-bottom: 1px solid #E4E8F4;
    padding: 12px 0px;
}
.pr-list-group-brend .pr-list-item {
    display: flex;
    justify-content: start;
}
.pr-list-group-brend .pr-list-item-img {
    width: 64px;
    height: 64px;
    padding: 8px 0px;
    border-radius: 12px;
    border: 1px solid #E4E8F4;
    background: #FFF;
    margin-right: 12px;
}
.pr-list-item .pr-btn-close {
    padding-right: 0;
}
.pr-list-item svg {
    margin-right: 12px;
}
.pr-list-item a {
    display: flex;
    justify-content: center;
}
.pr-list-group {
    margin-bottom: 24px;
}
.pr-list-group:last-child {
    margin-bottom: 0;
}
.pr-list-group-brend:last-child{
    border-bottom: none;
}
.pr-list-group-brend .pr-list-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.pr-list-item-category-name {
    color: #A2A0B3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}
.mobile-nav {
    background: #FFF;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1040;
    bottom: 0;
}
.mobile-nav .nav {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.mobile-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 12px 20px;
    position: relative;
    font-size: 0.875rem;
    align-items: center;
}
.mobile-nav .active svg path {
    stroke: var(--active-color);
}
.mobile-nav .nav-item {
    margin-right: 8px;
}
.mobile-nav .nav-item:last-child {
    margin-right: 0;
}
#back-top {
    position: fixed;
    display: flex;
    right: 20px;
    bottom: 80px;
    background-color: #00a0e3;
    border-radius: 50%;
    padding: 0.875rem;
    -webkit-transition: 0.7s all cubic-bezier(0.03, 0.88, 0.34, 0.97);
    transition: 0.7s all cubic-bezier(0.03, 0.88, 0.34, 0.97);
    -webkit-box-shadow: 0 5px 18px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 18px 2px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 999;
}
  
#back-top.visible {
    visibility: visible;
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
}
  
#back-top.visible:hover {
    opacity: 1;
}